<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The History of European Cup and UEFA Champions League Finals</title>
    <meta name="author" content="@kristw">
    <meta name="description" content="All European Cup and UEFA Champions League Finals since 1956, visualized.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kristw">
    <meta name="twitter:creator" content="@kristw">
    <meta name="twitter:title" content="The History of European Cup and UEFA Champions League Finals">
    <meta name="twitter:description" content="All European Cup and UEFA Champions League Finals since 1956, visualized.">
    <meta name="twitter:image" content="http://kristw.github.io/uclfinals/images/thumbnail.png">

    <meta property="og:title" content="The History of European Cup and UEFA Champions League Finals" />
    <meta property="og:site_name" content="kristw.yellowpigz.com"/>
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://twitter.com/kristw" />
    <meta property="og:url" content="
    http://kristw.github.io/uclfinals/index.html" />
    <meta property="og:description" content="All European Cup and UEFA Champions League Finals since 1956, visualized." />
    <meta property="og:image" content="http://kristw.github.io/uclfinals/images/thumbnail.png"/>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="src/main.css">
  </head>
  <body ng-app="app">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=124002517682821";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <article class="paper box" ng-controller="mainCtrl">
      <!-- Add your site or application content here -->
      <header>
        <div class="social-box">
          <div style="float:left">
            <div class="fb-like" data-href="http://kristw.github.io/uclfinals/index.html" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>
          <a class="twitter-follow-button"
            href="https://twitter.com/kristw"
            data-show-count="false"
            data-lang="en">
            Follow @kristw
          </a>
          <a class="twitter-share-button"
            href="https://twitter.com/share">
            Tweet
          </a>
        </div>

        <h1>
          The History of European Cup and UEFA Champions League Finals
        </h1>

        <p>
          All teams that had participated in the finals are included in the chart below. The teams (rows) are color-coded and grouped by nation. The horizontal axis represents time from left to right. Each column is one year of the competition. Each vertical line represents the final match of that season and its two ends mark the finalists. Solid and hollow circles indicate winners and runners-up, respectively.
        </p>
        <div class="control-box">
          <i>Sort matches by:</i> &nbsp;
          <a href="#" ng-class="{active: options.sortBy==='time'}" ng-click="sortBy('time', $event)">time</a>
          |
          <a href="#" ng-class="{active: options.sortBy==='win'}" ng-click="sortBy('win', $event)">winners</a>
          |
          <a href="#" ng-class="{active: options.sortBy==='lost'}" ng-click="sortBy('lost', $event)">runners-up</a>
          |
          <a href="#" ng-class="{active: options.sortBy==='pair'}" ng-click="sortBy('pair', $event)">finalists</a>
        </div>
        <div ng-switch on="options.sortBy">
          <p class="analysis" data-ng-switch-when="time">
            <i>What does the chart tell you?</i> &mdash;
            A total of 22 clubs have won the Champions League/European Cup. Real Madrid won the first competition held in 1956. They have also won the competition the most times in a row, winning the first five times from 1956 to 1960. The closest achievements were Ajax and Bayern Munich who won the trophies three times in a row in 1971-1973 and 1974-1976, respectively. Since the competition was renamed to the UEFA Champions League in 1992, none of the champions have been able to defend their crown yet.
          </p>

          <p class="analysis" data-ng-switch-when="time">
            The colors also highlight dominant nations in each era. Spain and Portugal dominated in the early days, followed by a few years of Italian teams. Then it was the Dutch era with Feyenoord and Ajax. Bayern Munich brought the tropies to Germany for a few years, followed by several years of English domination. The momentum swung to Italy for several years before coming back to the Spanish giants: Real Madrid and, of course, the otherworldly Barcelona.
          </p>

          <p class="analysis" data-ng-switch-when="win">
            <i>What does the chart tell you?</i> &mdash;
            A total of 22 clubs have won the tournament since its 1955 inception, with Real Madrid being the only team to win it 10 times, including the first five. Only two other clubs have reached 10 finals; AC Milan and Bayern Munich. A total of 12 clubs have won the tournament multiple times; the three aforementioned clubs, along with Liverpool, Ajax, Barcelona, Internazionale, Manchester United, Benfica, Nottingham Forest, Juventus, and Porto. A total of 17 clubs have reached the final without ever managing to win the tournament. <a href="http://en.wikipedia.org/wiki/European_Cup_and_UEFA_Champions_League_records_and_statistics#/General_performances">More information...</a>
          </p>

          <p class="analysis" data-ng-switch-when="lost">
            <i>What does the chart tell you?</i> &mdash;
            When it comes to being heartbroken, Juventus is the most experienced team in this sense. Losing in the final for six times. Bayern Munich and Benfica are close behind with five defeats each. Milan also had four tearful moments but they are quite successfull overall and won seven times. Real Madrid and Barcelona had their shares of defeats, three each. <a href="http://en.wikipedia.org/wiki/European_Cup_and_UEFA_Champions_League_records_and_statistics#/General_performances">More information...</a>
          </p>

          <p class="analysis" data-ng-switch-when="pair">
            <i>What does the chart tell you?</i> &mdash;
            The probability is not that high for two teams to meet each other again in the finals. However, these had happened a few times. As of 2015, none of the teams have met more than twice in the finals. Some teams were able to get their revenges (Juventus on Ajax, Milan on Ajax and Milan on Ajax). Seems like the Italians are the best at getting their revenges. Other teams are not that lucky and had to repeat similar nightmares. For example, Pep Guardiola's Barcelona was proven too hard for Manchester United to handle, twice.
          </p>
        </div>
      </header>

      <div id="chart"></div>
      <footer>
        Data from <a href="http://en.wikipedia.org/wiki/List_of_European_Cup_and_UEFA_Champions_League_finals">Wikipedia</a>, visualized by Krist Wongsuphasawat (<a href="https://twitter.com/kristw">@kristw</a>)
      </footer>
    </article>

    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/d3kit/dist/d3kit.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-d3-promise/src/angular-d3-promise.min.js"></script>

    <script src="src/main.js"></script>

    <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-59971789-1','auto');ga('send','pageview');
    </script>
  </body>
</html>